use_udp_trackers = yes
directory = /home/danial/torrents
session = /home/danial/.rtorrent/session
port_range = 50000-60000
min_peers = 1
max_peers = 400
min_peers_seed = -1
max_peers_seed = -1
check_hash = yes
peer_exchange = no
tracker_numwant = -1
encoding_list = UTF-8
scgi_local = /home/danial/.rtorrent/socket/rpc.socket
schedule = chmod,0,0,"execute=chmod,777,/home/danial/.rtorrent/socket/rpc.socket"
schedule = watch_directory,10,10,load_start=/home/danial/.rtorrent/watch/*.torrent
execute = {sh,-c,/usr/bin/php /srv/rutorrent.tigris.id.au/php/initplugins.php danial &}
