# PEERS #
throttle.min_peers.normal.set = 15
throttle.max_peers.normal.set = 90
throttle.min_peers.seed.set = 30
throttle.max_peers.seed.set = 90
throttle.max_uploads.set = 125
trackers.use_udp.set = yes
trackers.numwant.set = -1

# MEMORY #
pieces.hash.on_completion.set = yes
pieces.memory.max.set = 1073741824
pieces.preload.type.set = 1

# NETWORKING #
network.port_range.set = 50000-60000
network.port_random.set = yes
network.scgi.open_local = /home/danial/.rtorrent/socket/rpc.socket
protocol.pex.set = no
protocol.encryption.set = allow_incoming,try_outgoing,require
#protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
dht.mode.set = disable
pieces.sync.always_safe.set = yes
network.receive_buffer.size.set = 1048576
network.send_buffer.size.set = 131072
network.max_open_sockets.set = 512

# FILES #
file.prioritize_toc.set = 1
file.prioritize_toc.first.set = {*.avi,*.mp4,*.mkv,*.gz}
file.prioritize_toc.last.set = {*.zip}

# SYSTEM #
encoding.add = UTF-8
directory.default.set = /home/danial/.rtorrent/dl
session.path.set = /home/danial/.rtorrent/session
execute = {sh,-c,/usr/bin/php /srv/rutorrent.tigris.id.au/php/initplugins.php danial &}
schedule = chmod,0,0,"execute=chmod,777,/home/danial/.rtorrent/socket/rpc.socket"
schedule = watch_directory,10,10,load.start=/home/danial/.rtorrent/watch/*.torrent
